<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .first{
        background-color:#FF671F;
        line-height:50px;
        padding:0;
        margin:0;
      }
      .second{
        background-color:white;
        line-height:50px;
        padding:0;
        margin:0;
      }
      .third{
        background-color:green;
        line-height:50px;
        padding:0;
        margin:0;
      }

    </style>
  </head>
  <body>
      <h3 class="first">Hello there </h3>
      <h3 class="second">This is by using templates</h3>
      <h3 class="third">This is by using templates</h3>
  </body>
</html>
