<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{
        background:black;
        color:white;
      }
    </style>
  </head>
  <body>
     <h1>Hello Everyone</h1><hr>
     <h2>{{msg}}</h2>
     <h3>Server Time is {{time}}</h3>
     <h3>Course Name: {{name}}</h3>
     <h3>Prerequisites: {{prerequisites}}</h3>
     <ul>
       <li>Django is Good</li>
       <li>Very Easy</li>
       <li>User Friendly</li>
     </ul>
     <table border="2">
       <thead>
             <th>Roll_No</th>
             <th>Name</th>
             <th>Email</th>
       </thead>
       <tr>
         <td>101</td>
         <td>Aasif</td>
         <td>a@agg.com</td>
       </tr>
       <tr>
         <td>102</td>
         <td>John</td>
         <td>john@gmail.com</td>
       </tr>
       <tr>
         <td>103</td>
         <td>Dem</td>
         <td>Dem@cc.com</td>
       </tr>
       <tr>
         <td>104</td>
         <td>Sam</td>
         <td>sam@gg.com</td>
       </tr>
     </table>
  </body>
</html>
